@using Advise.HFR.MVC.Models.StaticData;
@model Advise.HFR.MVC.Models.StaticData.StaticDataViewModel
@{
    ViewBag.Title = "StaticData - Index(2)";
}

<div class="container">
    <div class="row  top-buffer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Static Data Management(2)</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/datatables.css" rel="stylesheet" />
<!-- Bootstrap -->



<!-- FM new stuff adding data table BEGIN -->

@section scripts{
    @Styles.Render("~/Content/UILibraries/Bundles/DataTables")
    @Scripts.Render("~/bundles/DataTables") 
    
    <script type="text/javascript" src="@Url.Content("/Scripts/Utils/staticdatatableutils.js")"></script>
    <script type="text/javascript"> staticdataTableUtils.filingUID = "@Model.EntityId";</script>
    <script type="text/javascript"> staticdataTableUtils.rawview = "false";</script>
}

<script>
    //mycmd.my_test();
    //$(document).ready(function() {
        //console.log('ssss' + $('#staticdataTable'));
    
    //var url = '/StaticData/FmTest/';
    //$('#example').DataTable({
    //    //"serverSide": true,
    //    "ajax": url
    //} );
    //});

    //setInterval(function () {
    //    table.ajax.reload(null, false); // user paging is not reset on reload
    //}, 30000);


    function getEntityData(id) {

        //var table = $('#example').DataTable();

        id = id.trim();
        //var url = '/StaticData/FmTest/' + id;                
        var url = '/StaticData/Index2/' + id;

        //table.ajax.url(url).load();
        //alert(url);
        console.log("url= " + url);
        window.location.href = url
    }

    function getRow(id) {
        var row = "get row info for id = ___  ";
        alert(row);
    }

</script>

<!-- FM new stuff adding data table END -->


<!-- Modal -->

<div class="modal fade" id="reco_run_succ" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">&nbsp; </h4>
            </div>
            <div class="modal-body text-center">
                <p><strong>Reconciliation run successfully</strong></p>
                <p>
                    2 Mis-matching records</br>
                    1 Missing record</br>
                    1 Duplicated record
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default center-block" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ends-->
<!-- Retrieve Data -->

<div class="modal fade" id="retrive_data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">&nbsp; </h4>
            </div>
            <div class="modal-body text-center">
                <p><strong>Report will be generated for</strong></p>
                <div class="pop_option">
                    <label>
                        <input type="radio" name="report" value="">
                        Selected Reconciliation Type
                    </label>
                    <label>
                        <input type="radio" name="report" value="">
                        All Reconciliation Types
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default center-block" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Retrieve Data Ends-->

<div class=''>

    <div class="right_div">
        <div class="data_container">
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#ClientDataRecon1a" aria-controls="ClientDataRecon1a" role="tab" data-toggle="tab">Loaded Snaphots</a></li>
                    <li role="presentation"><a href="#NCARecon1a" aria-controls="NCARecon1a" role="tab" data-toggle="tab">Static Data</a></li>
                    <li class="pull-right help_btn"> <a href="#">Help <img src="~/demo13/images/help_icon.png" alt="" title="" /> </a> </li>
                </ul>

                <!-- Tabs panes -->
                <div class="tab-content">
                    <!--Reconciliation with Client Data-->
                    <div role="tabpanel" class="tab-pane active" id="ClientDataRecon1a">
                        <div class="load_data_radio">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12 col-md-10 col-sm-10 col-xs-12">
                                        <table>
                                            <tr>
                                                <td><label>Snapshot Date </label></td>
                                                <td>
                                                    <div class='input-group date' id='datetimepicker_tr'>
                                                        <input type='text' placeholder="From" class="form-control" />
                                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                                    </div>
                                                </td>
                                                <td><label> -</label></td>
                                                <td class="text-right"><label>Entity Type</label></td>
                                                <td>
                                                    <select id="EntityType" class="form-control">
                                                        @foreach (var item in Model.EntityTables)
                                                        {
                                                            //@model.EntityId
                                                            <option value=@item.Value @(item.Value == Model.EntityId ? "selected" : "")> @item.Value </option>
                                                        }
                                                        </select>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary loaddata" data-toggle="modal" onclick="javascript:getEntityData(document.getElementById('EntityType').options[document.getElementById('EntityType').selectedIndex].value);"> Filter Data </button>
                                                    <button type="button" class="loaddata light_blue btn" data-toggle="modal" data-target="#reco_run_succ"> Export </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                        @*
    FM remove you make data table work like the examples.

                       <div class="row ">
                           <table id="example" class="display" cellspacing="0" width="100%">
                               <thead>
                                   <tr>
                                       @foreach (var item in Model.EntityTablesEditableFields)
                                       {
                                           <th> @item.Value.Name </th>
                                       }
                                   </tr>
                               </thead>
                               <tr> <td colspan="100%" align="center"> <br/>todo: return results for <b> @Model.EntityId </b><br /> <br/></td> </tr>
                                    <tfoot style="background-color:lightblue">
                                        <tr>
                                            @foreach (var item in Model.EntityTablesEditableFields)
                                            {
                                                <th> @item.Value.Name </th>
                                            }
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        *@
                        <div class="row  top-buffer">
                            <div class="row">
                                <table id="staticdataTable" class="display nowrap table table-striped table-bordered" cellspacing="10"></table>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!--Reconciliation with Client Data ends here-->
                    <!--Reconciliation with Client Data-->
                    <div role="tabpanel" class="tab-pane" id="NCARecon1a">

                        <div class="clearfix"></div>

                        <div class="bottom_btns">
                            <input type="button" name="" value="Edit" class="loaddata light_blue btn mtop10  " onclick="javascript: getRow('TBD(Whay two of youFM,123, 343)')" />
                            <input type="button" name="" value="Delete" class="loaddata light_blue btn mtop10  " />
                            <input type="submit" class=" btn loaddata mtop10" name="Load Data" value="Save">
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!--Right Div Ends Here-->

</div>